<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "Meu perfil", edit_user_registration_path(current_user) %></li>
  <li class="divider"></li>
  <li><%= link_to "Sair", destroy_user_session_path, method: :delete, data: { confirm: "Tem certeza que deseja sair?"} %></li>
</ul>
<nav class="amber accent-4">
  <div class="nav-wrapper">
    <%= link_to "Logger", root_path, class: "brand-logo" %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li>Olá, <%= current_user.first_name %> <i class="material-icons left">person</i> </li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Settings<i class="material-icons right">arrow_drop_down</i></a></li>
      <% else %>
        <li><%= link_to "Entrar", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>